.sub-ratings {
  display: flex;
  flex-wrap: wrap;
  width: 594px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid silver 1px;
}

.rating {
  flex: 0 0 280px;
  display: flex;
  justify-content: space-between;
}

