
.full-review {
  display: flex;
  flex-wrap: wrap;

  color: black;
  font-size: 16px;
  line-height: 22px;
  border-bottom: solid efefef 1px;
  width: 594px;
  margin-top: 20px;

}

.avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  align-self: flex-start;
}

.name {
  font-size: 16px;
  line-height: 22px;
  left: 100px;
  display: block;
  height: 22px;
  font-weight: 600;
}

.date {
  font-size: 14px;
  line-height: 18px;
  display: block;
  height: 20px;
}

.user-info {
  margin-left: 10px;
}