.full-review {
  color: black;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  border-bottom: solid silver 1px;
  width: 594px;
}

.avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}