
.full-review {
  display: flex;
  color: black;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  border-bottom: solid silver 1px;
  width: 594px;

}

.avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;

  border: solid black 1px;
}

.name {
  font-size: 16px;
  left: 100px;
  display: block;
  height: 22px;
  width: 584px;
  font-weight: bold;
  flex: 1;
  
  border: solid black 1px;
}

.date {
  font-size: 14px;
  line-height: 18px;
  display: block;
  height: 20px;
  width: 584px;
  flex: 1;
  
  border: solid black 1px;
}
.review-text {
  border: solid black 1px;
  flex: 3;
}