.input-bar {
  border: solid silver 1px;
  border-radius: 4px;
  height: 30px;
  font-weight: bold;
}

.input-bar:focus {
  border: solid #008489 2px;
  border-radius: 4px;
}

.search {
  position: relative;
}

.search input {
  text-indent: 30px
}

.search .fa-search {
  position: absolute;
  top: 8px;
  left: 7px;
  font-size: 15px;
}